#About-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.About-heading {
    font-size: 2rem;
    color: rgb(17, 17, 125);
    margin-left: 2rem;
    padding-top: 1rem;
    width: 20rem;
    text-align: center;
}

.About-text {
    padding: 1rem 1rem 3rem 1rem;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 2.5rem;
    width: 50rem;
    height: 100%;
    span {
        font-weight: bold;
        color: rgb(225, 92, 30);
    }
}


  @media only screen and (max-width: 750px) { 
    #About-main {
        @include mobile-main;
    }
    
    .About-heading {
        @include mobile-head;
    }
    
    .About-text {
        padding: 2rem 1rem 3rem 1rem;
        text-align: justify;
        font-size: 1rem;
        line-height: 2.5rem;
        width: calc(100% - 2rem*2);
        height: 100%;
    }
  };