#resume-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 0rem;
    .resume-heading {
        font-size: 2rem;
        color: rgb(17, 17, 125);
        margin-left: 2rem;
        padding-top: 1rem;
        width: 20rem;
        text-align: center;
    }
    .resume-exp {
        padding: 1rem 1rem 3rem 1rem;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 2.5rem;
        width: 50rem;
        height: 100%;
        #exps {
            display: flex;
            justify-content: space-between;
        }
    }
}

.resume-link {
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    font-style: italic;
    &:hover {
        font-weight: bold;
    }
}


@media only screen and (max-width: 750px) { 
    #resume-main {
        @include mobile-main;
        .resume-heading {
            @include mobile-head;
        }
        .resume-exp {
            padding: 2rem 1rem 3rem 1rem;
            text-align: center;
            font-size: 1rem;
            line-height: 2.5rem;
            width: calc(100% - 2rem*2);
            height: 100%;
            #exps {
                display: flex;
                flex-direction: column;
                justify-content: center;
                div:first-child {
                    font-weight: bold;
                }
            }
        }
    }

    .resume-link {
        align-self: center;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1rem;
        margin-bottom: 5rem;
        &:hover {
            font-weight: bold;
        }
    }
 }