#hero-main-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    padding: 6rem 4rem 3rem 4rem;
    background-color: rgb(245, 246, 249);
    .hero-image{
        background-image: url('/public/Me-Mt2.jpeg');
        background-repeat: no-repeat;
        width: 40rem;
        height: 4rem;
        img {
            width: 100%;
        }
    }
    .hero-main {
        margin-top: 18rem;
        @include flexCenter(column);
        .hero-heading{
        padding-bottom: 2rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 3.5rem;
        }
        .hero-sub {
            font-size: 2rem;
            font-family: 'Inconsolata', monospace;
            font-weight: lighter;
            text-align: center;
            width: 60%;
        }
        .hero-contact {
            margin-top: 2rem;
            .connect-button {
                background-color: white;
                width: 10rem;
                height: 3rem;
                border: 1px solid black;
                font-family: 'Quicksand', sans-serif;
                font-size: 100%;
                transition: background-color 200ms ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}


// MEIDAQUERY///////////////////////////////////////////
@media only screen and (max-width: 750px) { 
    #hero-main-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0rem;
        padding: 0rem 2rem 2rem 0rem;
        width: 100%;
        background-color: white;
        .hero-image{
            background-image: url('/public/Me-Mt2.jpeg');
            background-repeat: no-repeat;
            height: 3rem;
            img {
                width: 100%;
            }
        }
        .hero-main {
            margin-top: 18rem;
            width: 100%;
            @include flexCenter(column);
            .hero-heading{
            padding-bottom: 1rem;
            font-family: 'Quicksand', sans-serif;
            font-size: 2.2rem;
            }
            .hero-sub {
                font-size: 1.6rem;
                font-family: 'Inconsolata', monospace;
                font-weight: lighter;
                width: 90%;
            }
            .hero-connect {
                margin-top: 2rem;
                .connect-button {
                    background-color: white;
                    width: 10rem;
                    height: 3rem;
                    border: 1px solid black;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 100%;
                    transition: background-color 200ms ease-in-out;
                    &:hover {
                        cursor: pointer;
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }

}